h1 {
    background-color: red;
}

p {
    color: red;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.class {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

